{% extends "base.html" %}

{% block breadcrumb %}
<h3 class="text-themecolor">StockShape</h3>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">HammerShape</li>
</ol>
{% end %}

{% block content %}
    {% for stock in stocks %}
    <!-- Column -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions">
                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                    <a class="btn-minimize" data-action="expand_hs"><i class="mdi mdi-arrow-expand"></i></a>
                    <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
                </div>
                <h4 class="card-title m-b-0">{{ stock.secname + '(' + stock.seccode + ')' }}</h4>
            </div>
            <div id="{{stock.seccode}}" class="card-body collapse">
                <div id="chart_{{stock.seccode}}" style="min-height: 500px; min-width: 310px;"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    {% end %}
{% end %}

{% block head_css %}
<!--<script src="{{static_url('assets/plugins/echarts/echarts.js')}}"></script>-->
{% end %}

{% block foot_js %}
<script src="{{static_url('assets/plugins/highstock/highstock.src.js')}}"></script>
<script src="{{static_url('quantc/js/hammer_shape.js')}}"></script>
<script src="{{static_url('quantc/js/highstock_kline.js')}}"></script>
<!-- 技术指标主文件 -->
<script src="http://cdn.hcharts.cn/highstock/indicators/indicators.js"></script>

<!-- 技术指标文件，如果是 SMA，则无需引入（因为 indicators 包含 SMA） -->
<script src="http://cdn.hcharts.cn/highstock/indicators/macd.js"></script>
{% end %}
