{% extends "base.html" %}

{% block breadcrumb %}
<h3 class="text-themecolor">StockShape</h3>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">HammerShape</li>
</ol>
{% end %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div id="paginator"></div>
        </div>
    </div>
    {% for stock in stocks %}
    <!-- Column -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions">
                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                    <a class="btn-minimize" data-action="expand_hs"><i class="mdi mdi-arrow-expand"></i></a>
                    <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
                </div>
                <h4 class="card-title m-b-0">{{ stock.secname + '(' + stock.seccode + ')' }}</h4>
            </div>
            <div id="{{stock.seccode}}" class="card-body collapse">
                <div id="tabs_{{stock.seccode}}" class="">
                    <h3 style="display: none">Daily</h3>
                    <section id="d_{{stock.seccode}}">
                        <div class="row">
                            <div class="col-md-2 col-xs-4 b-r">
                                <p class="text-muted">S:{{stock.score_s}}</p>
                            </div>
                            {% if stock.week1 != None and stock.week1 != '' %}
                                <div class="col-md-1 col-xs-3 b-r">
                                    <p class="text-muted">W1:{{stock.week1}}%</p>
                                </div>
                            {% end %}
                            {% if stock.week2 != None and stock.week2 != '' %}
                                <div class="col-md-1 col-xs-3 b-r">
                                    <p class="text-muted">W2:{{stock.week2}}%</p>
                                </div>
                            {% end %}
                            {% if stock.week3 != None and stock.week3 != '' %}
                                <div class="col-md-1 col-xs-3 b-r">
                                    <p class="text-muted">W3:{{stock.week3}}%</p>
                                </div>
                            {% end %}
                            {% if stock.month1 != None and stock.month1 != '' %}
                                <div class="col-md-1 col-xs-3 b-r">
                                    <p class="text-muted">M1:{{stock.month1}}%</p>
                                </div>
                            {% end %}
                            {% if stock.week5 != None and stock.week5 != '' %}
                                <div class="col-md-1 col-xs-3 b-r">
                                    <p class="text-muted">W5:{{stock.week5}}%</p>
                                </div>
                            {% end %}
                            {% if stock.week6 != None and stock.week6 != '' %}
                                <div class="col-md-1 col-xs-3 b-r">
                                    <p class="text-muted">W6:{{stock.week6}}%</p>
                                </div>
                            {% end %}
                            {% if stock.week7 != None and stock.week7 != '' %}
                                <div class="col-md-1 col-xs-3 b-r">
                                    <p class="text-muted">W7:{{stock.week7}}%</p>
                                </div>
                            {% end %}
                            {% if stock.month2 != None and stock.month2 != '' %}
                                <div class="col-md-1 col-xs-3 b-r">
                                    <p class="text-muted">M2:{{stock.month2}}%</p>
                                </div>
                            {% end %}
                        </div>
                        <div id="chart_d_{{stock.seccode}}" style="min-height: 500px; min-width: 310px;"></div>
                    </section>
                    <h3 style="display: none">Weekly</h3>
                    <section id="w_{{stock.seccode}}">
                        <div id="chart_w_{{stock.seccode}}" style="min-height: 500px; min-width: 310px;"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    {% end %}
{% end %}

{% block head_css %}
<link href="{{static_url('assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css')}}" rel="stylesheet">
<link href="{{static_url('assets/plugins/wizard/steps.css')}}" rel="stylesheet">
<style>
    <!--清除li标签原生样式-->
    .tabcontrol>.steps>ul {
        list-style-type: none;
    }

    .tabcontrol>.steps>ul>li>a {
        color: #727b84;
    }

    .active>a {
        color: #fff !important;
    }
</style>
{% end %}

{% block foot_js %}
<script src="{{static_url('assets/plugins/highstock/highstock.src.js')}}"></script>
<!--DataSelector-->
<script src="{{static_url('assets/plugins/date-paginator/moment.min.js')}}"></script>
<script src="{{static_url('assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
<script src="{{static_url('assets/plugins/date-paginator/bootstrap-datepaginator.min.js')}}"></script>
<!--Wizard-->
<script src="{{static_url('assets/plugins/wizard/jquery.steps.min.js')}}"></script>
<!--<script src="{{static_url('assets/plugins/wizard/steps.js')}}"></script>-->
<!--DataSelector End-->
<script src="{{static_url('quantc/js/hammer_shape_weekly.js')}}"></script>
<script src="{{static_url('quantc/js/highstock_kline.js')}}"></script>

<!-- 技术指标主文件 -->
<!--<script src="http://cdn.hcharts.cn/highstock/indicators/indicators.js"></script>-->

<!-- 技术指标文件，如果是 SMA，则无需引入（因为 indicators 包含 SMA） -->
<!--<script src="http://cdn.hcharts.cn/highstock/indicators/macd.js"></script>-->
{% end %}
