{% extends "stock_list.html" %}

{% block breadcrumb %}
<h3 class="text-themecolor">StockShape</h3>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="#">{{ lv2 }}</a></li>
    <li class="breadcrumb-item active">{{ lv3 }}</li>
</ol>
{% end %}

{% block tab_daily %}
    {% if lv3 == 'daily' %}
        <div class="row">
            <div class="col-md-2 col-xs-4">
                <p class="text-muted">S:{{stock.score_s}}</p>
            </div>
            {% if stock.d1 != None and stock.d1 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D1:{{stock.d1}}%</p>
                </div>
            {% end %}
            {% if stock.d2 != None and stock.d2 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D2:{{stock.d2}}%</p>
                </div>
            {% end %}
            {% if stock.d3 != None and stock.d3 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D3:{{stock.d3}}%</p>
                </div>
            {% end %}
            {% if stock.d4 != None and stock.d4 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D4:{{stock.d4}}%</p>
                </div>
            {% end %}
            {% if stock.d5 != None and stock.d5 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D5:{{stock.d5}}%</p>
                </div>
            {% end %}
            {% if stock.d6 != None and stock.d6 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D6:{{stock.d6}}%</p>
                </div>
            {% end %}
            {% if stock.d7 != None and stock.d7 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D7:{{stock.d7}}%</p>
                </div>
            {% end %}
            {% if stock.d8 != None and stock.d8 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D8:{{stock.d8}}%</p>
                </div>
            {% end %}
            {% if stock.d9 != None and stock.d9 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D9:{{stock.d9}}%</p>
                </div>
            {% end %}
            {% if stock.d10 != None and stock.d10 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D10:{{stock.d10}}%</p>
                </div>
            {% end %}
        </div>
    {% end %}
<div id="chart_d_{{stock.seccode}}" class="kchart"></div>
{% end %}

{% block tab_weekly %}
    {% if lv3 == 'weekly' %}
        <div class="row">
            <div class="col-md-2 col-xs-4">
                <p class="text-muted">S:{{stock.score_s}}</p>
            </div>
            {% if stock.d1 != None and stock.d1 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D1:{{stock.d1}}%</p>
                </div>
            {% end %}
            {% if stock.d2 != None and stock.d2 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D2:{{stock.d2}}%</p>
                </div>
            {% end %}
            {% if stock.d3 != None and stock.d3 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D3:{{stock.d3}}%</p>
                </div>
            {% end %}
            {% if stock.d4 != None and stock.d4 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D4:{{stock.d4}}%</p>
                </div>
            {% end %}
            {% if stock.d5 != None and stock.d5 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D5:{{stock.d5}}%</p>
                </div>
            {% end %}
            {% if stock.d6 != None and stock.d6 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D6:{{stock.d6}}%</p>
                </div>
            {% end %}
            {% if stock.d7 != None and stock.d7 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D7:{{stock.d7}}%</p>
                </div>
            {% end %}
            {% if stock.d8 != None and stock.d8 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D8:{{stock.d8}}%</p>
                </div>
            {% end %}
            {% if stock.d9 != None and stock.d9 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D9:{{stock.d9}}%</p>
                </div>
            {% end %}
            {% if stock.d10 != None and stock.d10 != '' %}
                <div class="col-md-1 col-xs-3">
                    <p class="text-muted">D10:{{stock.d10}}%</p>
                </div>
            {% end %}
        </div>
    {% end %}
<div id="chart_w_{{stock.seccode}}" class="kchart"></div>
{% end %}

{% block custom_js %}
<script>
    var defaultTab = '{{ lv3[0:1] }}';
    // 日期选择器
    var datepaginator = function() {
        return {
            init: function() {
                let url = window.location.href;
                let date = url.split('?date=')[1];
                $("#paginator").datepaginator({
                    selectedDate: date,
                    selectedDateFormat:  'YYYY-MM-DD',
                    onSelectedDateChanged: function(a, t) {
                        window.location.href='/shape/' + defaultTab + '/{{ lv2 }}?date='+ moment(t).format("YYYY-MM-DD")
                    }
                })
            }
        }
    }();
    jQuery(document).ready(function() {
        datepaginator.init()
    });
</script>
{% end %}
