{% extends "base.html" %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div id="paginator"></div>
        </div>
    </div>
    <input id="page-name" hidden="hidden" value="w" />
    {% for stock in stocks %}
    <!-- Column -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions">
                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                    <a class="btn-minimize" data-action="expand_hs"><i class="mdi mdi-arrow-expand"></i></a>
                    <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
                </div>
                <h4 class="card-title m-b-0">{{ stock.secname + '(' + stock.seccode + ')' }}</h4>
            </div>
            <div class="card-body collapse" id="{{stock.seccode}}">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs customtab" role="tablist" id="tabs">
                    <li class="nav-item"> <a id="d-{{stock.seccode}}" class="nav-link" data-toggle="tab" href="#d_{{stock.seccode}}" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Daily</span> </a> </li>
                    <li class="nav-item"> <a id="w-{{stock.seccode}}" class="nav-link" data-toggle="tab" href="#w_{{stock.seccode}}" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Weekly</span></a> </li>
                    <li class="nav-item"> <a id="c-{{stock.seccode}}" class="nav-link" data-toggle="tab" href="#c_{{stock.seccode}}" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">CompanyInfo</span></a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!--为了淡入淡出特效占位-->
                    <div style="display: none" class="tab-pane fade in active" role="tabpanel">&nbsp;</div>
                    <div class="tab-pane fade" id="d_{{stock.seccode}}" role="tabpanel">
                        {% block tab_daily %}
                        {% end %}
                    </div>
                    <div class="tab-pane fade" id="w_{{stock.seccode}}" role="tabpanel">
                        {% block tab_weekly %}
                        {% end %}
                    </div>
                    <div class="tab-pane fade" id="c_{{stock.seccode}}" role="tabpanel" >
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
                                <br>
                                <p class="text-muted">[[ fullname ]]</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Website</strong>
                                <br>
                                <p class="text-muted">[[ website ]]</p>
                            </div>
                            <div class="col-md-2 col-xs-3 b-r"> <strong>Controller</strong>
                                <br>
                                <p class="text-muted">[[ controller ]]</p>
                            </div>
                            <div class="col-md-4 col-xs-6"> <strong>Office Loc</strong>
                                <br>
                                <p class="text-muted">[[ office ]]</p>
                            </div>
                        </div>
                        <hr>
                        <p class="m-t-30">[[ main ]]</p>
                        <p>[[ introduction ]]</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    {% end %}
{% end %}

{% block head_css %}
<link href="{{static_url('assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css')}}" rel="stylesheet">
<link href="{{static_url('quantc/css/stock_card.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{static_url('assets/plugins/highstock/gui.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('assets/plugins/highstock/popup.css')}}">
{% end %}

{% block foot_js %}
<script src="{{static_url('assets/plugins/highstock/highstock.src.js')}}"></script>
<!--DataSelector-->
<script src="{{static_url('assets/plugins/date-paginator/moment.min.js')}}"></script>
<script src="{{static_url('assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
<script src="{{static_url('assets/plugins/date-paginator/bootstrap-datepaginator.min.js')}}"></script>
<!--DataSelector End-->
<!--Wizard-->
<script src="{{static_url('assets/plugins/wizard/jquery.steps.min.js')}}"></script>
<!--Wizard End-->
<script src="{{static_url('quantc/js/stock_card.js')}}"></script>
<script src="{{static_url('quantc/js/highstock_kline.js')}}"></script>

<!-- 技术指标主文件 -->
<script src="{{static_url('assets/plugins/highstock/indicators-all.js')}}"></script>

<!-- 技术指标文件，如果是 SMA，则无需引入（因为 indicators 包含 SMA） -->
<script src="{{static_url('assets/plugins/highstock/drag-panes.js')}}"></script>
<script src="{{static_url('assets/plugins/highstock/annotations-advanced.js')}}"></script>
<script src="{{static_url('assets/plugins/highstock/price-indicator.js')}}"></script>
<script src="{{static_url('assets/plugins/highstock/full-screen.js')}}"></script>
<script src="{{static_url('assets/plugins/highstock/stock-tools.js')}}"></script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

{% block custom_js %} {% end %}
{% end %}